extends layout

block content
  h1= title
  p= str_size
  p(id="w") W !{size.w} CM
  p(id="h") H !{size.h} CM
  p Active !{pagination.active}

  nav(id='pagination')
      each val in [...Array(pagination.length).keys()]
        a(href='?p='+ (val + 1))= val + 1

  button(id="print") PRINT

  main(id="main")
    header
      h1= data.title
      h3 { !{data.header} }
      span(id="active")= pagination.active
    hr
    != data.content
    hr