body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5px;
  padding: 0;
}

a {
  color: #00B7FF;
}

#pagination {
  display: inline-block;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  background-color: red;
}

#main {
  border: 1px solid black;
  padding: 2px;
  overflow: hidden;
}

#main header {
  text-align: center;
}